body {
    background-color: #041529;
    font-family: Arial, Helvetica, sans-serif
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
i {
    color: red;
}
h1 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center
}

@keyframes link {
    0%   {color:red;}
    25%  {color:orange;}
    50%  {color:green;}
    75% {color:blue;}
    100% {color:red;}
  }
  a {
    color: red;
    animation-name: link;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-family:Arial, Helvetica, sans-serif5

  }

  a:hover {
    color: cyan;
  }