body {
    background-color: #424549;
    font-family: Arial, Helvetica, sans-serif
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    color: #7289da;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center
}

a {
    color:red
}